@model OrdirectWebsite.AccountDetailViewModel
@{
    ViewData["Title"] = "LogIn";
}

<title>Inloggen</title>

<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" media="screen" />
</head>

<body>
    
    <div class="container">
	<div class="row">
	<div class="col-md-6">
		        <h2> Log In Hier:</h2>
		<br />
        <div class="col-md-6">
            <form asp-action="LogIn" asp-controller="LogIn">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Wachtwoord" class="control-label"></label>
                    <input asp-for="Wachtwoord" class="form-control" />
                    <span asp-validation-for="Wachtwoord" class="text-danger"></span>
                </div>
                <button type="submit">Log In</button>
            </form>
        </div>
	</div>



		<div class="col-md-6"> 
		        <h2>Registreer Hier:</h2>
		<br />
        <div class="col-md-6">
            <form asp-action="CreateOwn" asp-controller="Account">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Wachtwoord" class="control-label"></label>
                    <input asp-for="Wachtwoord" class="form-control" />
                    <span asp-validation-for="Wachtwoord" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Voornaam" class="control-label"></label>
                    <input asp-for="Voornaam" class="form-control" />
                    <span asp-validation-for="Voornaam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Achternaam" class="control-label"></label>
                    <input asp-for="Achternaam" class="form-control" />
                    <span asp-validation-for="Achternaam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit">Registreer</button>
                </div>
            </form>
        </div>

		</div>
    </div>

	</div>

</body>

