@model OrdirectWebsite.ResRevViewModel
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Detail";
}
<head>
</head>

<h2>Detail</h2>

<div>
    <h4>RestaurantDetailViewModel</h4>
    <hr />
    <form method="post" asp-controller="Reservering" asp-action="Aanmaken">

        <dl class="dl-horizontal">
            <dt>
                <input asp-for="RestaurantDetailViewModel.RestaurantID" style="visibility: hidden" />
            </dt>
            <dt>
                <label asp-for="RestaurantDetailViewModel.Naam"></label>
            </dt>
            <dd>
                <input asp-for="RestaurantDetailViewModel.Naam"style="visibility: hidden" />
                @Html.DisplayFor(model => model.RestaurantDetailViewModel.Naam)
            </dd>
            <dt>
                <label asp-for="RestaurantDetailViewModel.Adres"></label>
            </dt>
            <dd>
                <input asp-for="RestaurantDetailViewModel.Adres" style="visibility: hidden" />
                @Html.DisplayFor(model => model.RestaurantDetailViewModel.Adres)
            </dd>
            <dt>
                <label asp-for="RestaurantDetailViewModel.Telefoonnummer"></label>
            </dt>
            <dd>
                <input asp-for="RestaurantDetailViewModel.Telefoonnummer" style="visibility: hidden" />
                @Html.DisplayFor(model => model.RestaurantDetailViewModel.Telefoonnummer)
            </dd>
        </dl>
		@if(Context.Session.GetString("AccountRol") == "Klant")
		{
		    <input asp-for="ReserveringDetailViewModel.datetime" />
            <button type="submit"> Reserveer </button>
		}
    </form>
    </div>
<div>
    <a asp-action="Index">Terug naar de restaurants</a>
</div>
