@model OrdirectWebsite.ReserveringViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Reserveringen</h2>

@if (Model == null)
{
    <h3>Geen Reserveringen Gevonden</h3>
    <p> Helaas zijn er geen reserveringen gevonden. Maak een reservering aan om je reserveringen te bekijken!</p>
}
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ReserveringDetailViewModel item in Model.reserveringDetailViewModels)
            {
                <tr>
                    <td>
                        @Html.DisplayName(item.RestaurantNaam + " om " + Convert.ToString(item.datetime))
                    </td>
                    <td>
                        @Html.ActionLink(linkText: "Details", actionName: "Detail", controllerName: "Reservering", routeValues: item) |
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
