@model OrdirectWebsite.BestellingViewModel
@{
    ViewData["Title"] = "Overview";
}

<h2>Overview</h2>

<div class="col-4">
    <label>Gerechten</label>
    <button>Gerecht Toevoegen aan Bestelling</button>
</div>
<div class="col-4">
    <label>Huidige Bestelling</label>
    <button>Bestelling Plaatsen</button>
</div>
<br />
<div class="col-4">
    <label> Alle Bestelling</label>
</div>
<div class="col-4">
    <label> Bestelling Details</label>
</div>

